[Desktop Entry]

Type=Application
Version=1.0
Name=Kaidan
Name[ca]=Kaidan
Name[ca@valencia]=Kaidan
Name[cs]=Kaidan
Name[de]=Kaidan
Name[el]=Kaidan
Name[en_GB]=Kaidan
Name[es]=Kaidan
Name[et]=Kaidan
Name[eu]=Kaidan
Name[fi]=Kaidan
Name[fr]=Kaidan
Name[it]=Kaidan
Name[ko]=Kaidan
Name[nl]=Kaidan
Name[nn]=Kaidan
Name[pa]=ਕਾਇਦਾਂ
Name[pt]=Kaidan
Name[pt_BR]=Kaidan
Name[ro]=Kaidan
Name[ru]=Kaidan
Name[sk]=Kaidan
Name[sl]=Kaidan
Name[sv]=Kaidan
Name[uk]=Kaidan
Name[x-test]=xxKaidanxx
Name[zh_TW]=Kaidan
GenericName=Jabber IM Client
GenericName[ca]=Client de MI per a Jabber
GenericName[ca@valencia]=Client de MI per a Jabber
GenericName[de]=Instant-Messaging-Programm für Jabber
GenericName[el]=Εφαρμογή στιγμιαίων μηνυμάτων Jabber
GenericName[en_GB]=Jabber IM Client
GenericName[es]=Cliente de MI Jabber
GenericName[et]=Jabberi kiirsuhtlusklient
GenericName[eu]=Jabber bat-bateko mezularitza bezeroa
GenericName[fi]=Jabber-pikaviestiasiakas
GenericName[fr]=Client de messagerie instantanée Jabber
GenericName[it]=Client IM per Jabber
GenericName[ko]=Jabber IM 클라이언트
GenericName[nl]=Jabber IM-client
GenericName[nn]=Jabber-basert lynmeldingsklient
GenericName[pa]=ਜੱਬਰ IM ਕਲਾਂਇਟ
GenericName[pt]=Cliente de MI em Jabber
GenericName[pt_BR]=Cliente Jabber
GenericName[ru]=Клиент Jabber
GenericName[sl]=Odjemalec Jabber IM
GenericName[sv]=Jabber direktmeddelandeklient
GenericName[uk]=Клієнт обміну повідомленнями у Jabber
GenericName[x-test]=xxJabber IM Clientxx
GenericName[zh_TW]=Jabber 即時通訊用戶端
Comment=A QtQuick Jabber client
Comment[ca]=Un client en QtQuick per a Jabber
Comment[ca@valencia]=Un client en QtQuick per a Jabber
Comment[de]=Ein QtQuick Programm für Jabber
Comment[el]=Μια εφαρμογή QtQuick Jabber
Comment[en_GB]=A QtQuick Jabber client
Comment[es]=Cliente Jabber con QtQuick
Comment[et]=QtQuicki Jabberi klient
Comment[eu]=QtQuick Jabber bezero bat
Comment[fi]=QtQuickilla tehty Jabber-asiakas
Comment[fr]=Un client Jabber QtQuick
Comment[it]=Un client Jabber in QtQuick
Comment[ko]=QtQuick Jabber 클라이언트
Comment[nl]=Een QtQuick Jabber-client
Comment[nn]=Jabber-klient laga med QtQuick
Comment[pa]=QtQuick ਜੱਬਰ ਕਲਾਂਇਟ
Comment[pt]=Um cliente de Jabber em QtQuick
Comment[pt_BR]=Um cliente Jabber em QtQuick
Comment[ru]=Клиент Jabber, основанный на QtQuick
Comment[sl]=Odjemalec A QtQuick Jabber
Comment[sv]=En QtQuick Jabberklient
Comment[uk]=Клієнт Jabber на основі QtQuick
Comment[x-test]=xxA QtQuick Jabber clientxx
Comment[zh_TW]=QtQuick Jabber 用戶端
Keywords=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[ca]=xat;missatgeria;mi;jabber;xmpp;qt;xarxa;
Keywords[ca@valencia]=xat;missatgeria;mi;jabber;xmpp;qt;xarxa;
Keywords[de]=chat;messaging;im;jabber;xmpp;qt;network;netzwerk;
Keywords[el]=συνομιλία;μηνύματα;jabber;xmpp;qt;δίκτυο;
Keywords[en_GB]=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[es]=charla;chat;mensajería;im;mi;jabber;xmpp;qt;red;
Keywords[et]=vestlus;kiirsuhtlus;im;jabber;xmpp;qt;võrk;
Keywords[eu]=berriketa;mezularitza;im;bm;bat-bateko mezularitza;jabber;xmpp;qt;sarea;
Keywords[fr]=chat;messagerie;im;jabber;xmpp;qt;réseau;
Keywords[it]=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[ko]=chat;messaging;im;jabber;xmpp;qt;network;채팅;메시지;메시징;네트워크;
Keywords[nl]=chat;messaging;im;jabber;xmpp;qt;netwerk;
Keywords[nn]=nettprat;lynmeldingar;chat;meldingar;im;jabber;xmpp;qt;nettverk;
Keywords[pa]=ਗੱਲਬਾਤ;ਚੈਟ;ਚੈੱਟ;ਜੱਬਰ;ਜਬਰ;ਨੈੱਟਵਰਕ;ਸੁਨੇਹੇ;
Keywords[pt]=conversação;mensagens;mi;jabber;xmpp;qt;rede;
Keywords[pt_BR]=bate-papo;chat;mensagem;mi;im;jabber;xmpp;qt;rede;
Keywords[ru]=chat;messaging;im;jabber;xmpp;qt;network;чат;сообщения;сеть;
Keywords[sl]=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[sv]=chatt;direktmeddelanden;jabber;xmpp;qt;nätverk;
Keywords[uk]=chat;messaging;im;jabber;xmpp;qt;network;балачка;спілкування;обмін повідомленнями;миттєвий;джаббер;жабер;іксемпепе;к'ют;мережа;
Keywords[x-test]=xxchatxx;xxmessagingxx;xximxx;xxjabberxx;xxxmppxx;xxqtxx;xxnetworkxx;
Keywords[zh_TW]=chat;messaging;im;jabber;xmpp;qt;network;聊天;對話;傳訊;訊息;即時;通訊;網路;網絡;
Exec=kaidan %u
Icon=kaidan
StartupNotify=true
StartupWMClass=Kaidan
Terminal=false
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/xmpp;
