[Desktop Entry]

Type=Application
Version=1.0
Name=Kaidan
Name[ca]=Kaidan
Name[ca@valencia]=Kaidan
Name[es]=Kaidan
Name[et]=Kaidan
Name[fr]=Kaidan
Name[it]=Kaidan
Name[ko]=Kaidan
Name[nl]=Kaidan
Name[pt]=Kaidan
Name[pt_BR]=Kaidan
Name[sk]=Kaidan
Name[sv]=Kaidan
Name[uk]=Kaidan
Name[x-test]=xxKaidanxx
Name[zh_TW]=Kaidan
GenericName=Jabber IM Client
GenericName[ca]=Client de MI per a Jabber
GenericName[ca@valencia]=Client de MI per a Jabber
GenericName[et]=Jabberi kiirsuhtlusklient
GenericName[fr]=Client de messagerie instantanée Jabber
GenericName[it]=Client IM per Jabber
GenericName[ko]=Jabber IM 클라이언트
GenericName[nl]=Jabber IM-client
GenericName[pt]=Cliente de MI em Jabber
GenericName[pt_BR]=Cliente Jabber
GenericName[sv]=Jabber direktmeddelandeklient
GenericName[uk]=Клієнт обміну повідомленнями у Jabber
GenericName[x-test]=xxJabber IM Clientxx
GenericName[zh_TW]=Jabber 即時通訊用戶端
Comment=A QtQuick Jabber client
Comment[ca]=Un client en QtQuick per a Jabber
Comment[ca@valencia]=Un client en QtQuick per a Jabber
Comment[et]=QtQuicki Jabberi klient
Comment[fr]=Un client Jabber QtQuick
Comment[it]=Un client Jabber in QtQuick
Comment[ko]=QtQuick Jabber 클라이언트
Comment[nl]=Een QtQuick Jabber-client
Comment[pt]=Um cliente de Jabber em QtQuick
Comment[pt_BR]=Um cliente Jabber em QtQuick
Comment[sv]=En QtQuick Jabberklient
Comment[uk]=Клієнт Jabber на основі QtQuick
Comment[x-test]=xxA QtQuick Jabber clientxx
Comment[zh_TW]=QtQuick Jabber 用戶端
Keywords=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[ca]=xat;missatgeria;mi;jabber;xmpp;qt;xarxa;
Keywords[ca@valencia]=xat;missatgeria;mi;jabber;xmpp;qt;xarxa;
Keywords[et]=vestlus;kiirsuhtlus;im;jabber;xmpp;qt;võrk;
Keywords[fr]=chat;messagerie;im;jabber;xmpp;qt;réseau;
Keywords[it]=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[ko]=chat;messaging;im;jabber;xmpp;qt;network;채팅;메시지;메시징;네트워크;
Keywords[nl]=chat;messaging;im;jabber;xmpp;qt;netwerk;
Keywords[pt]=conversação;mensagens;mi;jabber;xmpp;qt;rede;
Keywords[pt_BR]=bate-papo;chat;mensagem;mi;im;jabber;xmpp;qt;rede;
Keywords[sv]=chatt;direktmeddelanden;jabber;xmpp;qt;nätverk;
Keywords[uk]=chat;messaging;im;jabber;xmpp;qt;network;балачка;спілкування;обмін повідомленнями;миттєвий;джаббер;жабер;іксемпепе;к'ют;мережа;
Keywords[x-test]=xxchatxx;xxmessagingxx;xximxx;xxjabberxx;xxxmppxx;xxqtxx;xxnetworkxx;
Keywords[zh_TW]=chat;messaging;im;jabber;xmpp;qt;network;聊天;對話;傳訊;訊息;即時;通訊;網路;網絡;
Exec=kaidan %u
Icon=kaidan
StartupNotify=true
StartupWMClass=Kaidan
Terminal=false
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/xmpp;
