[Desktop Entry]

Type=Application
Version=1.0
Name=Kaidan
Name[ca]=Kaidan
Name[nl]=Kaidan
Name[pt]=Kaidan
Name[sk]=Kaidan
Name[sv]=Kaidan
Name[uk]=Kaidan
Name[x-test]=xxKaidanxx
GenericName=Jabber IM Client
GenericName[ca]=Client de MI per a Jabber
GenericName[nl]=Jabber IM-client
GenericName[pt]=Cliente de MI em Jabber
GenericName[sv]=Jabber direktmeddelandeklient
GenericName[uk]=Клієнт обміну повідомленнями у Jabber
GenericName[x-test]=xxJabber IM Clientxx
Comment=A QtQuick Jabber client
Comment[ca]=Un client en QtQuick per a Jabber
Comment[nl]=Een QtQuick Jabber-client
Comment[pt]=Um cliente de Jabber em QtQuick
Comment[sv]=En QtQuick Jabberklient
Comment[uk]=Клієнт Jabber на основі QtQuick
Comment[x-test]=xxA QtQuick Jabber clientxx
Keywords=chat;messaging;im;jabber;xmpp;qt;network;
Keywords[ca]=xat;missatgeria;mi;jabber;xmpp;qt;xarxa;
Keywords[nl]=chat;messaging;im;jabber;xmpp;qt;netwerk;
Keywords[pt]=conversação;mensagens;mi;jabber;xmpp;qt;rede;
Keywords[sv]=chatt;direktmeddelanden;jabber;xmpp;qt;nätverk
Keywords[uk]=chat;messaging;im;jabber;xmpp;qt;network;балачка;спілкування;обмін повідомленнями;миттєвий;джаббер;жабер;іксемпепе;к'ют;мережа;
Keywords[x-test]=xxchatxx;xxmessagingxx;xximxx;xxjabberxx;xxxmppxx;xxqtxx;xxnetworkxx;
Exec=kaidan %u
Icon=kaidan
StartupNotify=true
StartupWMClass=Kaidan
Terminal=false
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/xmpp;
