[Desktop Entry]
Type=Application
Version=1.0
Name=Kaidan
Name[ca]=Kaidan
Name[et]=Kaidan
Name[it]=Kaidan
Name[nl]=Kaidan
Name[pt]=Kaidan
Name[sk]=Kaidan
Name[sv]=Kaidan
Name[uk]=Kaidan
Name[x-test]=xxKaidanxx
Exec=kaidan
Icon=kaidan.svg
Terminal=false
X-Ubuntu-Touch=true
